body {
overflow: hidden;
}

#menu {
position: absolute;
width: 500px;
left: -507px;
top: 0px;
height: 100%;
background-color: #DDD;
box-shadow:  4px 4px 4px 1px #555;
}

button#exit {
position: absolute;
top: 20px;
left: 420px;
width: 70px;
height: 50px;
}

button#slides {
position: absolute;
top: 100px;
left: 420px;
width: 70px;
height: 50px;
}


div#vr {
position: absolute;
margin: 0px;
top: 20px;
bottom: 20px; 
left: 400px;
width:1px;
background-color:#AAA;
}

#sortable {
position: absolute;
left: 20px;
list-style-type: none;
margin: 0;
padding-left: 30px;
padding-top: 20px;
top: 0px;
width: 350px;
max-width: 350px;
height: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

#sortable li {
line-height: 0px;
margin: 0px 0px 30px 0px;
font-size: 1.4em;
height: 200px;
width: 300px;
cursor: pointer;
}

div.transition-box {
position: relative;
width: 1400px;
height: 900px;
margin: auto;
}

span.transition-next {
position: absolute;
top: 50px;
left: 50px;
font-size: 90px;
}

div.notification {
	z-index: 10;
display:none;
position: fixed;
top: 20px;
right: 20px;
box-shadow: 2px 2px 3px 1px;
background-color: white;
text-align: center;
padding: 15px;
font-size:25px;
border-radius: 3px;
}

span.transition-title {
position: absolute;
top: 35%;
width: 100%;
font-size: 76px;
text-align: center;
}

span.transition-author {
text-align: center;
position: absolute;
top: 50%;
width: 100%;
font-size: 56px;
}

#sortable img {
box-shadow:  4px 4px 4px 1px #555;
border: 5px solid white;
}

#sortable span {
position: relative;
top: -190px;
left: 10px;
text-shadow: 1px 1px #AAA;
}

#menu-handle {
position: absolute;
top: 50%;
left: 500px;
width: 24px;
height: 50px;
background-color: #DDD;
border-bottom-right-radius: 5px 5px;
border-top-right-radius: 5px 5px;
box-shadow:  4px 4px 4px 1px #555;
opacity: 0.5;
cursor: pointer;
}
